@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Condensed:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header,
footer {
  background-color: #000;
  flex-basis: 100%;
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  flex-wrap: wrap;
  gap: 15px;
}

.logo-gremio {
  width: 180px;
  cursor: pointer;
}

.header-buttons,
.footer-buttons {
  display: flex;
  gap: 15px;
}

.nav-btn {
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  padding-bottom: 5px;
  position: relative;
  font-weight: 700;
}

.nav-btn::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  bottom: -5px;
  left: 0;
  background-color: #00adee;
  transition: 0.4s;
}

.nav-btn:hover::after {
  width: 100%;
}

.title-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  text-align: center;
}

.title {
  font-size: 30px;
  font-weight: 700;
}

.content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "main-content sidebar-content";
  flex: 1 0 auto;
  padding: 20px;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  grid-area: main-content;
}

.game {
  width: 320px;
  height: 340px;
  display: flex;
  flex-direction: column;
  border: 2px solid transparent;
  cursor: pointer;
  transition: 0.3s;
}

.game:hover {
  border-color: black;
  box-shadow: 0 0 5px grey;
}

.img-games {
  width: 100%;
  height: 180px;
}

.text-game {
  padding: 8px;
  text-align: center;
}

.sidebar-content {
  background-color: #000;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: sidebar-content;
  min-width: 300px;
  gap: 18px;
}

.extra {
  width: 75%;
  border: 2px solid white;
  cursor: pointer;
  position: relative;
}

.extra::after {
  content: "Clique para assistir as melhores jogadas deste jogador";
  font-size: 22px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  text-align: center;
  color: transparent;
  transition: 0.4s;
}

.extra:hover::after {
  color: white;
  background: rgba(0, 0, 0, 0.8);
}

.img-extras {
  width: 100%;
}

.text-extra {
  color: #fff;
  text-align: center;
}

/* OUTROS */
.f-w {
  font-weight: 700;
}

.fs-18 {
  font-size: 18px;
}

.fs-24 {
  font-size: 24px;
}

.pt-5 {
  padding-top: 5px;
}

a {
  text-decoration: none;
  color: inherit;
}

/* MEDIA */
@media (max-width: 630px) {
  .content {
    grid-template-areas:
      "main-content"
      "sidebar-content";
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  .sidebar-content {
    min-width: auto;
  }
}

@media (max-width: 483px) {
  header,
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title-content {
    padding-left: 5px;
    padding-right: 5px;
  }

  .extra::after {
    font-size: 18px;
  }
}
